body {
  padding: 0;
  margin: 0;
  outline: 0;
}
/* Colors */

/* Red */
.red-bg {
  background-color: red;
}
.lightRed-bg {
  background-color: lightcoral;
}
.red-text {
  color: red;
}
.lightRed-text {
  color: lightcoral;
}

/* Green */
.green-bg {
  background-color: green;
}
.lightGreen-bg {
  background-color: lightgreen;
}
.green-text {
  color: green;
}
.lightGreen-text {
  color: lightgreen;
}

/* Blue */
.blue-bg {
  background-color: blue;
}
.lightBlue-bg {
  background-color: lightblue;
}
.blue-text {
  color: blue;
}
.lightBlue-text {
  color: lightblue;
}

/* Yellow */
.yellow-bg {
  background-color: yellow;
}
.lightYellow-bg {
  background-color: lightyellow;
}
.yellow-text {
  color: yellow;
}
.lightYellow-text {
  color: lightyellow;
}

/* Gray */
.gray-bg {
  background-color: gray;
}
.lightGray-bg {
  background-color: lightgray;
}
.gray-text {
  color: gray;
}
.lightGray-text {
  color: lightgray;
}

/* Black */
.black-bg {
  background-color: black;
}
.black-text {
  color: black;
}

/* White */
.white-bg {
  background-color: white;
}
.white-text {
  color: white;
}

/* padding */
.pd-1 {
  padding: 1rem;
}
.pd-2 {
  padding: 2rem;
}

/* sizes */
.sm {
  height: 3rem;
  font-size: 3rem;
  object-fit: cover;
}
.md {
  height: 5rem;
  font-size: 5rem;
  object-fit: cover;
}
.lg {
  height: 7rem;
  font-size: 7rem;
  object-fit: cover;
}
/* //Avatar */

.avatar {
  border-radius: 50%;
}

/* buttons */
.btn-basic {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-border {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: 3px solid white;
}
.btn-rounded {
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-sign {
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}
.btn-img {
  height: 24px;
  object-fit: cover;
}
.btn-link {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-link:hover {
  color: white;
  background: transparent;
  border: 1px solid white;
}

/* Call to Action */
.calltoaction-basic {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 20px;
}
.calltoaction-advanced {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.calltoaction-main-text {
  padding: 5px 60px;
  text-align: center;
  margin: 10px 0px;
}
.calltoaction-buttons {
  display: flex;
  gap: 30px;
  margin: 20px 0px;
}

/* Font Size */
.f-1 {
  font-size: 100%;
}
.f-2 {
  font-size: 200%;
}
.f-3 {
  font-size: 300%;
}
.f-4 {
  font-size: 400%;
}
.f-5 {
  font-size: 500%;
}
.f-6 {
  font-size: 600%;
}

/* Font Style */
.f-bold {
  font-weight: bold;
}
.f-italic {
  font-style: italic;
}
.f-underline {
  text-decoration: underline;
}

/* Border */
.border-circle {
  border-radius: 50%;
}
.border-rad-1 {
  border-radius: 3px;
}
.border-rad-2 {
  border-radius: 6px;
}
.border-rad-3 {
  border-radius: 9px;
}
.border-rad-4 {
  border-radius: 12px;
}
.border-rad-5 {
  border-radius: 15px;
}

/* Flex */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

/* flex gaps */
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.gap-5 {
  gap: 50px;
}

/* Justify-content */
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-baseline {
  justify-content: baseline;
}

/* align-items */
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-baseline {
  align-items: baseline;
}

/* width */
.w-1 {
  width: 10%;
}
.w-2 {
  width: 20%;
}
.w-3 {
  width: 30%;
}
.w-4 {
  width: 40%;
}
.w-5 {
  width: 50%;
}
.w-6 {
  width: 60%;
}
.w-7 {
  width: 70%;
}
.w-8 {
  width: 80%;
}
.w-9 {
  width: 90%;
}
.w-10 {
  width: 100%;
}

/* Height */
.h-1 {
  height: 10%;
}
.h-2 {
  height: 20%;
}
.h-3 {
  height: 30%;
}
.h-4 {
  height: 40%;
}
.h-5 {
  height: 50%;
}
.h-6 {
  height: 60%;
}
.h-7 {
  height: 70%;
}
.h-8 {
  height: 80%;
}
.h-9 {
  height: 90%;
}
.h-10 {
  height: 100%;
}

/* Text position */
.center-text {
  text-align: center;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}

/* Text Size */
.text-1 {
  font-size: 16px;
}
.text-2 {
  font-size: 20px;
}
.text-3 {
  font-size: 24px;
}
.text-4 {
  font-size: 28px;
}
.text-5 {
  font-size: 32px;
}
.text-6 {
  font-size: 36px;
}
.text-7 {
  font-size: 40px;
}
/* IMP Text Property */
.text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* //Curson-pointer */
.cursor-pointer {
  cursor: pointer;
}

/* Footer */
.footer-basic {
  display: flex;
  justify-content: space-between;
}
.footer-icon-box {
  border-radius: 50%;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
}
/* //Display:none */
.none {
  display: none;
}
