body {
  padding: 0;
  margin: 0;
  outline: 0;
}
/* Colors */

/* Red */
.red-bg {
  background-color: red;
}
.lightRed-bg {
  background-color: lightcoral;
}
.red-text {
  color: red;
}
.lightRed-text {
  color: lightcoral;
}

/* Green */
.green-bg {
  background-color: green;
}
.lightGreen-bg {
  background-color: lightgreen;
}
.green-text {
  color: green;
}
.lightGreen-text {
  color: lightgreen;
}

/* Blue */
.blue-bg {
  background-color: blue;
}
.lightBlue-bg {
  background-color: lightblue;
}
.blue-text {
  color: blue;
}
.lightBlue-text {
  color: lightblue;
}

/* Yellow */
.yellow-bg {
  background-color: yellow;
}
.lightYellow-bg {
  background-color: lightyellow;
}
.yellow-text {
  color: yellow;
}
.lightYellow-text {
  color: lightyellow;
}

/* Gray */
.gray-bg {
  background-color: gray;
}
.lightGray-bg {
  background-color: lightgray;
}
.gray-text {
  color: gray;
}
.lightGray-text {
  color: lightgray;
}

/* Black */
.black-bg {
  background-color: black;
}
.black-text {
  color: black;
}

/* White */
.white-bg {
  background-color: white;
}
.white-text {
  color: white;
}

/* padding */
.pd-1 {
  padding: 1rem;
}
.pd-2 {
  padding: 2rem;
}

/* sizes */
.sm {
  height: 3rem;
  font-size: 3rem;
}
.md {
  height: 5rem;
  font-size: 5rem;
}
.lg {
  height: 7rem;
  font-size: 7rem;
}
/* //Avatar */

.avatar {
  border-radius: 50%;
}
.sm {
  height: 3rem;

  object-fit: cover;
}
.md {
  height: 5rem;

  object-fit: cover;
}
.lg {
  height: 7rem;

  object-fit: cover;
}
/* buttons */
.btn-basic {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-border {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: 3px solid white;
}
.btn-rounded {
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-sign {
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
}
.btn-img {
  height: 24px;
  object-fit: cover;
}
.btn-link {
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  font-size: 150%;
  font-weight: 600;
  border: none;
}
.btn-link:hover {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.calltoaction-basic {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 200px;
  align-items: center;
  padding: 20px;
}
.calltoaction-advanced {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  align-items: center;
  padding: 20px;
}
.calltoaction-main-text {
  padding: 5px 60px;
  text-align: center;
  margin: 10px 0px;
}
.calltoaction-buttons {
  display: flex;
  gap: 30px;
  margin: 20px 0px;
}
.f-1 {
  font-size: 100%;
}
.f-2 {
  font-size: 200%;
}
.f-3 {
  font-size: 300%;
}
.f-4 {
  font-size: 400%;
}
.f-5 {
  font-size: 500%;
}
.f-6 {
  font-size: 600%;
}
.f-bold {
  font-weight: bold;
}
.f-italic {
  font-style: italic;
}
.f-underline {
  text-decoration: underline;
}
