<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/5968/5968242.png"
      type="image/icon type"
    />
  </head>
  <body>
    <nav class="navbar">
      <div>
        <p><a href="/index.html">Smart CSS Library</a></p>
        <img src="" alt="" />
      </div>
    </nav>
    <div class="main-content">
      <section class="sidebar avatarsidebar">
        <ul>
          <li><a href="./avatar.html">Avatar</a></li>
          <li><a href="/">Button</a></li>
          <li><a href="./calltoaction.html">Call to action</a></li>
          <li><a href="./card.html">Card</a></li>
          <li><a href="./error.html">Error</a></li>
          <li><a href="./footer.html">Footer</a></li>
          <li><a href="./input.html">Input</a></li>
          <li><a href="./navbar.html">Navbar</a></li>
          <li><a href="/">Shopping Cart</a></li>
          <li><a href="/">Stats</a></li>
        </ul>
      </section>
      <main class="btn-main">
        <div class="components buttons">
          <div>
            <button class="btn-basic lightYellow-bg black-text">
              Add to cart
            </button>

            <button class="btn-border lightBlue-bg black-text">Sign Up</button>
            <button class="btn-rounded lightRed-bg black-text">Book Now</button>
          </div>
        </div>
        <div class="code">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=33px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520class%253D%2522btn-basic%2520lightYellow-bg%2520black-text%2522%253EAdd%2520to%2520cart%2520%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn-border%2520lightBlue-bg%2520black-text%2522%253ESign%2520Up%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn-rounded%2520lightRed-bg%2520black-text%2522%253EBook%2520Now%253C%252Fbutton%253E%250A"
            style="
              width: 1024px;
              height: 220px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="components buttons">
          <div>
            <button class="btn-link gray-bg black-text">Link Button</button>

            <button class="btn-sign">
              <img
                class="btn-img"
                src="https://www.pngkit.com/png/detail/311-3118276_image-result-for-lifeguard-cross-doctor-plus-logo.png"
                alt="add"
              />
            </button>
          </div>
        </div>
        <div class="code">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=33px&ph=21px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cbutton%2520class%253D%2522btn-link%2520gray-bg%2520black-text%2522%253ELink%2520Button%253C%252Fbutton%253E%250A%2520%253Cbutton%2520class%253D%2522btn-sign%2522%253E%250A%2520%253Cimg%2520class%253D%2522btn-img%2522%250A%2520src%253D%2522https%253A%252F%252Fwww.pngkit.com%252Fpng%252Fdetail%252F311-3118276_image-result-for-lifeguard-cross-doctor-plus-logo.png%2522%250A%2520alt%253D%2522add%2522%250A%2520%252F%253E%250A%2520%253C%252Fbutton%253E%250A"
            style="
              width: 807px;
              height: 308px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </main>
    </div>
  </body>
</html>
